<p id="notice"><%= notice %></p>

<h1>Memes</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Top caption</th>
      <th>Middle caption</th>
      <th>Bottom caption</th>
      <th>Template</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memes.each do |meme| %>
      <tr>
        <td><%= meme.url %></td>
        <td><%= meme.top_caption %></td>
        <td><%= meme.middle_caption %></td>
        <td><%= meme.bottom_caption %></td>
        <td><%= meme.template %></td>
        <td><%= meme.user %></td>
        <td><%= link_to 'Show', meme %></td>
        <td><%= link_to 'Edit', edit_meme_path(meme) %></td>
        <td><%= link_to 'Destroy', meme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meme', new_meme_path %>
<% content_for :footerjs do %>
  <script type="text/javascript">
    $("#nav-recent").addClass("active");
  </script>
<% end %>
