<% provide(:title, "New Meme") %>
<div class="row">
  <div class="col-md-12">
    <h2 id="subheader">New Meme</h2>
  </div>
  <div class="text-center col-md-12">
    <%= bootstrap_form_tag url: :memes, method: "post", layout: :inline do %>
        Select Template:<br>
        <%= text_field :template, skip_label: true%>
        <br>
        <br>
        <div class="row">
	        <div class="col-md-6">
	        <%= text_field(:meme, :top_caption, :id => "top-line", :placeholder => "Top Text")%>
	        </div>
	        <div class="col-md-6">
	        <%= text_field(:meme, :bottom_caption, :id => "bottom-line", :placeholder => "Bottom Text") %>
	        </div>
	    </div>
	    <br>
        <br>
        <canvas id="meme" class="meme-img"></canvas>
     <% end %>
  </div>
</div>
<div class="clearfix"></div>

<% content_for :footerjs do %>
	<%= javascript_include_tag "meme_gen.js" %>
 	<script>
	  	Meme('http://i.imgur.com/uGNb9El.jpg', 'meme');

		$('#top-line, #bottom-line').keyup(function() {
			Meme('http://i.imgur.com/uGNb9El.jpg', 'meme', $('#top-line').val(), $('#bottom-line').val());
		});
 	</script>
<% end %>


