<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @meme.image.url %>
</p>

<p>
  <strong>Top caption:</strong>
  <%= @meme.top_caption %>
</p>

<p>
  <strong>Bottom caption:</strong>
  <%= @meme.bottom_caption %>
</p>

<p>
  <strong>Template:</strong>
  <%= @meme.template %>
</p>

<p>
  <strong>User:</strong>
  <%= @meme.user %>
</p>

<% if(@meme.root_comments.present?) %>
  <p>
    <strong>Comments:</strong>
    <%= render @meme.root_comments %>
  </p>
<% end %>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %> |
<%= link_to 'Comment', new_comment_path(comment: { meme_id: @meme.id, user_id: current_user.id }) %>
