<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@meme.image.url, :id => "meme", :data => { :memeid => @meme.id }) %>
</p>

<p>
  submitted <%= time_ago_in_words(@meme.created_at) %> ago by <em><%= @meme.user %></em>
</p>

<% if @meme.root_comments.present? %>
  <p>
    <strong>Comments:</strong>
    <%= render @meme.root_comments %>
  </p>
<% end %>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
<% if user_signed_in? %>
  | <%= link_to 'Comment', new_comment_path(comment: { meme_id: @meme.id, user_id: current_user.id }) %>
<% end %>
